$font-size: 20px;
$button-background-color: #39FF14;
$button-font-color: black;
$text-font-color: #39FF14;
$text-background-color: black;

html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
    background: black;
}

.hello-world-button {
    font-size: $font-size;
    padding: 7px 15px;
    background: $button-background-color;
    color: $button-font-color;
    outline: none;
    display: block;
    margin-bottom: 15px;
}

.hello-world-text {
    color: $text-font-color;
    background: $text-background-color;
    font-weight: bold;
    display: block;
    width: fit-content;
}
